<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ba.vaktija.android"
    android:versionCode="52"
    android:versionName="@string/version_name">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <!--    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>-->
    <!--
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    -->

    <uses-sdk tools:overrideLibrary="com.google.android.exoplayer" />

    <application
        android:name="ba.vaktija.android.App"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name="ba.vaktija.android.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ba.vaktija.android.PrayerActivity"
            android:label=""
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="ba.vaktija.android.MainActivityHelper"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name="ba.vaktija.android.prefs.SettingsActivity"
            android:label="@string/activity_settings"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="ba.vaktija.android.wizard.WizardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight"></activity>
        <activity
            android:name="ba.vaktija.android.LocationActivity"
            android:label="@string/location"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="ba.vaktija.android.prefs.AboutActivity"
            android:label="@string/about_app"
            android:screenOrientation="portrait">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="ba.vaktija.android.AlarmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAlarm" />

        <service
            android:name="ba.vaktija.android.service.VaktijaService"
            android:exported="false"></service>

        <receiver android:name="ba.vaktija.android.receiver.RingerChangeReceiver">
            <intent-filter>
                <action android:name="android.media.RINGER_MODE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="ba.vaktija.android.receiver.LockChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="ba.vaktija.android.receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="ba.vaktija.android.receiver.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <receiver android:name="ba.vaktija.android.widget.VaktijaWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
    </application>

</manifest>